<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Jordan King – Full-Stack Developer & UX Designer based in Jacksonville, FL. View resume, portfolio projects, and contact information.">
    <link rel="stylesheet" href="/css/main.css">

    <!-- scripts -->
     <script src="/js/script.js" defer></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RH36G7P8VL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-RH36G7P8VL');
    </script>
    <title>Jordan King Resume</title>
</head>
<body>
        <div class="container">
           <header>
                <div class="flex-start">
                    <img src="/images/profile-pic.jpg" alt="" class="profile-pic">
                    <div>
                        <h1>Jordan King</h1>
                        <p><strong>Designer | Developer</strong></p>
                        <a href="/assets/resume.pdf" target="_blank">Resume Download</a>
                    </div>
                </div>

                <div class="flex-end">
                    <div>
                        <strong>Status</strong>
                        Available for hire
                    </div>
                    <div>
                        <strong>Location</strong>
                        Jacksonville, FL
                    </div>
                </div>

            </header>
            <!-- end header -->


            <!-- navbar -->
            <nav>
                <button hx-get="/pages/bio.html" hx-target="#content" hx-swap="innerHTML">
                    Bio
                </button>

                <button hx-get="/pages/education.html" hx-target="#content" hx-swap="innerHTML">
                    Education
                </button>

                <button hx-get="/pages/skills.html" hx-target="#content" hx-swap="innerHTML">
                    Skills
                </button>

                <button hx-get="/pages/portfolio.html" hx-target="#content" hx-swap="innerHTML">
                    Portfolio
                 </button>

            </nav>
            <!-- end navbar -->                

            <section id="content"></section>
       
            
            
                        
        </div>
</body>
</html>